* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    position: relative;
    background: url(../Images/hexellence_@2X.png);

}

header {
background-color: turquoise; 
color: blue;
text-align: center;
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 32px;
padding: 15px;
border-bottom: 1px solid blue;

}

.title {
    text-shadow: 4px 4px 4px #aaa;
    font-size: 50px;
}
.instructions {
    font-size: 18px;
    font-weight: 400;
}

#container {
    width: 50%;
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    height: 100vh;
    position: relative;
    padding-bottom: 40px;
    vertical-align: middle;
    border: 1px solid lightgray;
    background-color: white;
   
}
.crystals {
    width: 125px;
    height: 125px;
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
}

.counter {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}

footer {
    background-color: turquoise;
    height: 40px;
    border-top: 1px solid blue;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}